apiVersion: apps/v1
kind: Deployment
metadata:
  name: enterprise-auth
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: enterprise-auth
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
