apiVersion: apps/v1
kind: Deployment
metadata:
  name: enterprise-auth
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: enterprise-auth
          resources:
            requests:
              cpu: 250m
              memory: 256Mi
            limits:
              cpu: 1000m
              memory: 1Gi
